<h1>Flex Store Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>$<%= number_to_currency(item.price_cents / 100.0) %></td>
        <td><%= "#{item.unit_size} #{item.unit_measurement}" %></td>
        <td><%= item.category.name %></td>
        <td><%= item.brand.name %></td>
        <td><%= link_to "Edit", edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new Item", new_item_path %>