<h1>Create a new item</h1>

<%= form_with model: @item, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :category, "Category" %>
    <%= f.collection_select :category, Category.all, :id, :name %>
  </div>

  <div>
    <%= f.label :brand, "Brand" %>
    <%= f.collection_select :brand, Brand.all, :id, :name %>
  </div>

  <div>
    <%= f.label :price_cents, "Price (in cents)" %>
    <%= f.number_field :price_cents, min: 0 %>
  </div>

  <div>
    <%= f.label :unit_type, "Unit Type" %>
    <%= f.select :unit_type, [["Weight", "weight"], ["Quantity", "quantity"]] %>
  </div>

  <div>
    <%= f.label :unit_quantity, "Enter Quantity or Weight Amount" %>
    <%= f.number_field :unit_quantity %>
  </div>

  <div>
    <%= f.label :unit_of_measurement, "Unit of Measurement" %>
    <%= f.select :unit_of_measurement, %w(g kg oz lb each pack) %>
  </div>

  <%= f.submit "Create Item" %>
<% end %>

<%= link_to "Back to Items", items_path %>